In [1]:
import pandas as pd

df_2106_daeban = pd.read_csv('공공자전거 대여이력 정보_2021.06.csv', encoding='cp949')
print(df_2106_daeban.shape)
df_2106_daeban.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(3445944, 11)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-30385,2021-05-31 23:07:00,3571,화양 APT(횡단보도 옆),0,2021-06-01 00:00:00,3538,서울숲 IT캐슬,0,53.0,2502.8
1,SPB-46321,2021-05-31 23:37:19,1911,구로디지털단지역 앞,0,2021-06-01 00:00:02,1843,독산고등학교,0,22.0,1630.0
2,SPB-48119,2021-05-31 23:48:40,3860,건국대학교 정문 앞,0,2021-06-01 00:00:03,3586,군자역 비채온 오피스텔,0,11.0,1420.0
3,SPB-55360,2021-05-31 23:47:52,2222,사당역 12번출구 뒤,0,2021-06-01 00:00:05,2228,뒷벌공원 옆,0,12.0,1350.0
4,SPB-54699,2021-05-31 23:51:14,1955,디지털입구 교차로,0,2021-06-01 00:00:08,1856,모두의학교,0,8.0,930.0

In [2]:
df_2106_daeban.dtypes

자전거번호        object
대여일시         object
대여 대여소번호      int64
대여 대여소명      object
대여거치대        object
반납일시         object
반납대여소번호      object
반납대여소명       object
반납거치대         int64
이용시간        float64
이용거리        float64
dtype: object

데이터 전처리 > 데이터 db에 저장

In [3]:
ord = df_2106_daeban.sort_values(by='반납일시' ,ascending=False)
ord.tail(38)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
1,SPB-46321,2021-05-31 23:37:19,1911,구로디지털단지역 앞,0,2021-06-01 00:00:02,1843,독산고등학교,0,22.00,1630.0
0,SPB-30385,2021-05-31 23:07:00,3571,화양 APT(횡단보도 옆),0,2021-06-01 00:00:00,3538,서울숲 IT캐슬,0,53.00,2502.8
246594,SPB-81958,2021-06-03 05:04:47,4659,"커피데이응암?옥痴?,99""",2021-06-03 05:28:30,04672,준빌딩 앞,99,23,3530.00,NaN
96253,SPB-34212,2021-06-01 21:34:10,976,"?彭喚玆紵閨낼?,0""",2021-06-01 21:50:23,04667,폭포동입구 교차로,0,16,2629.60,NaN
3369842,SPB-39990,2021-06-30 14:11:21,4152,"상도효성해?돼逑첨뮌決?,0""",2021-06-30 14:22:44,04175,스페이스 살림 앞,0,11,2209.20,NaN
2312583,SPB-55661,2021-06-21 17:08:04,1332,"석계역 5번출구 건너??,0""",2021-06-21 17:30:41,04114,휘경여중고삼거리,0,22,4220.00,NaN
2181507,SPB-51814,2021-06-20 15:24:27,663,"외대앞역 4번출??,0""",2021-06-20 16:10:02,04104,외대앞역 교차로,0,45,6659.44,NaN
754206,SPB-35949,2021-06-07 20:47:43,584,"광진광장 교통??,0""",2021-06-07 21:00:04,03534,건대입구역 5번출구 뒤,0,12,1193.87,NaN
686795,SPB-53625,2021-06-07 11:12:34,335,"종로3가역 15번출구 ??,0""",2021-06-07 11:22:57,03407,안국동사거리(신),0,10,968.62,NaN
2192113,SPB-46126,2021-06-20 17:26:41,302,"경복궁역 4번출구 ??,0""",2021-06-20 17:32:33,03406,세종로공원,0,5,380.00,NaN
2751242,SPB-31248,2021-06-24 21:06:21,1167,"마곡수명산파크3단지 ?냈湯?,0""",2021-06-24 21:52:26,02745,수명초등학교,0,46,3480.96,NaN
1809620,SPB-40508,2021-06-16 22:07:00,2428,"롯데리아 개?泰±?,0""",2021-06-16 23:01:45,02389,경기여자고등학교 후문 (삼성로3길 입구),0,54,5885.57,NaN
2273022,SPB-46811,2021-06-21 09:16:17,2137,"KT&G 관?프痴?,0""",2021-06-21 09:23:27,02173,당곡사거리,0,7,980.00,NaN
1235316,SPB-55970,2021-06-11 23:59:44,704,"남부법원검찰청 교?湯?,0""",2021-06-12 00:49:24,02165,JK장평타워,0,49,12310.00,NaN
991411,SPB-52623,2021-06-09 18:35:43,2198,"사랑?퓟늉?,0""",2021-06-09 19:14:00,02106,난곡 새마을금고,0,38,4936.29,NaN
880504,SPB-51289,2021-06-08 18:59:02,2511,"이수역 6번출구 ??,0""",2021-06-08 20:45:23,02041,사당중학교 버스정류소,0,106,2262.69,NaN
1665978,SPB-44902,2021-06-15 21:03:37,1703,"도봉산광역환승센?槁?,0""",2021-06-15 22:17:51,01720,도봉구청 옆(중랑천변),0,74,9297.35,NaN
2838084,SPB-53807,2021-06-25 17:03:43,1690,"도봉운전면허?쳬窩?,0""",2021-06-25 17:13:52,01697,상계주공2단지 219동,0,10,1042.47,NaN
893023,SPB-42766,2021-06-08 22:02:52,1661,"?聆稚뎠摸같貶?,0""",2021-06-08 22:11:48,01665,양지근린공원앞,0,8,0.00,NaN
861270,SPB-46874,2021-06-08 18:11:09,1643,"태릉입구역 8번?瘦?,0""",2021-06-08 18:57:04,01447,면목역 3번출구,0,45,5040.00,NaN
868959,SPB-42464,2021-06-08 18:45:19,648,"장안동위더스?舛?,0""",2021-06-08 19:34:19,01421,신내역 4번출구,0,49,9826.45,NaN
168634,SPB-48403,2021-06-02 16:00:03,1316,"고려사대부속중고 건너??,0""",2021-06-02 16:25:40,01373,성북구보건소 건너편,0,25,3950.00,NaN
100107,SPB-48385,2021-06-01 22:01:57,2903,"월계초안아파트 1?保?,0""",2021-06-01 22:18:02,01332,석계역 5번출구 건너편,0,16,3250.00,NaN
564461,SPB-51800,2021-06-06 12:05:56,1172,"가양3동 주민센??,0""",2021-06-06 12:22:35,01191,마곡역 교차로(NH농협),0,16,3256.90,NaN
2291363,SPB-36677,2021-06-21 13:27:36,2701,"마곡나루역 5번출구 뒤??,0""",2021-06-21 13:41:49,01162,공항초등학교건너편,0,14,1329.71,NaN
2609515,SPB-45974,2021-06-23 20:34:19,773,"염창역 3, 4번 출구 사??,0""",2021-06-23 20:57:29,01129,화곡역 1번 출구 앞,0,23,4140.00,NaN
1914749,SPB-47846,2021-06-17 20:50:04,1101,"개화동상사마을종점 버?봐ㅇ昰?,0""",2021-06-17 21:07:35,01101,개화동상사마을종점 버스정류장,0,17,2630.00,NaN
3065149,SPB-53149,2021-06-27 16:12:23,977,"신도중학?낼?,0""",2021-06-27 16:22:13,00949,연신내역 1번 출구,0,9,1951.82,NaN
2245964,SPB-38516,2021-06-21 00:07:40,996,"응암역 1번출??,0""",2021-06-21 00:12:38,00931,역촌파출소,0,4,556.17,NaN
563499,SPB-55229,2021-06-06 11:43:27,411,"DMC홍?린?,0""",2021-06-06 12:11:27,00907,CJ 드림시티,0,28,4130.00,NaN
925825,SPB-52903,2021-06-09 08:38:13,624,"전농동 동아아파트 ??,0""",2021-06-09 08:40:04,00669,청계한신휴플러스앞 삼거리,0,1,253.08,NaN
2561280,SPB-52878,2021-06-23 14:34:29,555,"구의3동주?關씽?,0""",2021-06-23 14:41:11,00546,잠실대교북단 교차로,0,6,1400.25,NaN
2983355,SPB-54285,2021-06-26 19:31:04,542,"강변역 4번출구 ??,0""",2021-06-26 20:26:59,00542,강변역 4번출구 뒤,0,55,7310.00,NaN
2207500,SPB-55351,2021-06-20 18:29:49,502,"뚝섬유원지역 1번출구 ??,0""",2021-06-20 19:11:58,00512,뚝섬역 1번 출구 옆,0,42,3750.00,NaN
3050705,SPB-41728,2021-06-27 13:19:59,385,"종각역 5번출??,0""",2021-06-27 14:03:17,00473,을지로4가역 9번출구,0,43,5325.49,NaN
1574407,SPB-31595,2021-06-14 22:50:54,306,"광화문역 7번출구 ??,0""",2021-06-14 23:01:59,00351,청운초교 앞 삼거리,0,11,1912.80,NaN
660705,SPB-53614,2021-06-07 05:31:45,293,"충북 미?“?,0""",2021-06-07 05:40:56,00274,영등포역지하쇼핑센타 5번출구,0,9,141.93,NaN
555786,SPB-53642,2021-06-06 08:30:48,164,"북가좌1동 주민센??,0""",2021-06-06 10:26:42,00164,북가좌1동 주민센터,0,115,958.12,NaN

In [4]:
ord.tail(38).index

Int64Index([      1,       0,  246594,   96253, 3369842, 2312583, 2181507,
             754206,  686795, 2192113, 2751242, 1809620, 2273022, 1235316,
             991411,  880504, 1665978, 2838084,  893023,  861270,  868959,
             168634,  100107,  564461, 2291363, 2609515, 1914749, 3065149,
            2245964,  563499,  925825, 2561280, 2983355, 2207500, 3050705,
            1574407,  660705,  555786],
           dtype='int64')

In [5]:
df_2106_daeban = df_2106_daeban.drop([246594,   96253, 3369842, 2312583, 2181507, 754206,  686795, 2192113, 2751242, 
                                      1809620, 2273022, 1235316, 991411,  880504, 1665978, 2838084, 893023,  861270,  
                                      868959, 168634,  100107,  564461, 2291363, 2609515, 1914749, 3065149, 2245964,  
                                      563499,  925825, 2561280, 2983355, 2207500, 3050705, 1574407,  660705,  555786])

In [6]:
def date(st):
    return st[:st.find(':')-3]
def si(st):
    return st[st.find(':')-2:st.find(':')]

df_2106_daeban['대여일'] = df_2106_daeban['대여일시'].apply(date)
df_2106_daeban['대여시'] = df_2106_daeban['대여일시'].apply(si)

df_2106_daeban['반납일'] = df_2106_daeban['반납일시'].apply(date)
df_2106_daeban['반납시'] = df_2106_daeban['반납일시'].apply(si)

df_2106_daeban

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,대여일,대여시,반납일,반납시
0,SPB-30385,2021-05-31 23:07:00,3571,화양 APT(횡단보도 옆),0,2021-06-01 00:00:00,3538,서울숲 IT캐슬,0,53.0,2502.80,2021-05-31,23,2021-06-01,00
1,SPB-46321,2021-05-31 23:37:19,1911,구로디지털단지역 앞,0,2021-06-01 00:00:02,1843,독산고등학교,0,22.0,1630.00,2021-05-31,23,2021-06-01,00
2,SPB-48119,2021-05-31 23:48:40,3860,건국대학교 정문 앞,0,2021-06-01 00:00:03,3586,군자역 비채온 오피스텔,0,11.0,1420.00,2021-05-31,23,2021-06-01,00
3,SPB-55360,2021-05-31 23:47:52,2222,사당역 12번출구 뒤,0,2021-06-01 00:00:05,2228,뒷벌공원 옆,0,12.0,1350.00,2021-05-31,23,2021-06-01,00
4,SPB-54699,2021-05-31 23:51:14,1955,디지털입구 교차로,0,2021-06-01 00:00:08,1856,모두의학교,0,8.0,930.00,2021-05-31,23,2021-06-01,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445939,SPB-36886,2021-06-30 22:44:14,152,마포구민체육센터 앞,0,2021-07-01 04:48:33,126,서강대 후문 옆,0,364.0,10153.36,2021-06-30,22,2021-07-01,04
3445940,SPB-30409,2021-06-30 22:45:19,152,마포구민체육센터 앞,0,2021-07-01 04:52:25,437,대흥역 1번출구,0,367.0,10100.71,2021-06-30,22,2021-07-01,04
3445941,SPB-46230,2021-06-30 22:43:43,152,마포구민체육센터 앞,0,2021-07-01 04:52:27,437,대흥역 1번출구,0,368.0,430.00,2021-06-30,22,2021-07-01,04
3445942,SPB-41691,2021-06-30 22:11:14,2220,반포본동 주민센터 앞,0,2021-07-01 04:55:29,2526,반포경남쇼핑 앞,0,404.0,0.00,2021-06-30,22,2021-07-01,04
3445943,SPB-52274,2021-06-30 22:12:10,2220,반포본동 주민센터 앞,0,2021-07-01 04:55:30,2526,반포경남쇼핑 앞,0,403.0,4541.22,2021-06-30,22,2021-07-01,04

In [7]:
daeyeo = df_2106_daeban[['자전거번호', '대여 대여소번호', '대여일', '대여시']]
daeyeo.columns = ['자전거번호', '대여소번호', '일', '시']
daeyeo = daeyeo.groupby(by=['대여소번호', '일', '시']).count()
daeyeo.columns = ['시간별대여대수']
daeyeo

                     시간별대여대수
대여소번호 일          시
3     2021-06-01 16        1
      2021-06-08 13        1
      2021-06-18 16        1
      2021-06-20 16        1
      2021-06-21 16        1
...                      ...
88888 2021-06-05 18        1
      2021-06-10 11        1
      2021-06-21 13        1
99997 2021-06-03 09        1
99999 2021-06-08 15        4

[1007036 rows x 1 columns]

In [8]:
banap = df_2106_daeban[['자전거번호', '반납대여소번호', '반납일', '반납시']]
banap.columns = ['자전거번호', '대여소번호', '일', '시']
banap = banap.groupby(by=['대여소번호', '일', '시']).count()
banap.columns = ['시간별반납대수']
banap

                     시간별반납대수
대여소번호 일          시
3     2021-06-01 09        1
                 12        1
      2021-06-08 08        1
      2021-06-10 08        1
      2021-06-11 08        1
...                      ...
09999 2021-06-18 12        3
                 13       12
                 14        1
      2021-06-25 16        1
88888 2021-06-21 10        1

[1019327 rows x 1 columns]

In [10]:
chong = banap.join(daeyeo, how='outer')
chong = chong.fillna(0)
chong

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\multi.py:3559: RuntimeWarning: The values in the array are unorderable. Pass `sort=False` to suppress this warning.
  result = lib.fast_unique_multiple([self._values, rvals], sort=sort)

                     시간별반납대수  시간별대여대수
대여소번호 일          시
3     2021-06-01 09      1.0      0.0
                 12      1.0      0.0
      2021-06-08 08      1.0      0.0
      2021-06-10 08      1.0      0.0
      2021-06-11 08      1.0      0.0
...                      ...      ...
9999  2021-06-30 09      0.0      1.0
                 18      0.0      1.0
                 20      0.0      1.0
                 22      0.0      1.0
88888 2021-06-21 13      0.0      1.0

[1563753 rows x 2 columns]

In [11]:
chong['총 대수'] = chong['시간별반납대수'] - chong['시간별대여대수']
chong

                     시간별반납대수  시간별대여대수  총 대수
대여소번호 일          시
3     2021-06-01 09      1.0      0.0   1.0
                 12      1.0      0.0   1.0
      2021-06-08 08      1.0      0.0   1.0
      2021-06-10 08      1.0      0.0   1.0
      2021-06-11 08      1.0      0.0   1.0
...                      ...      ...   ...
9999  2021-06-30 09      0.0      1.0  -1.0
                 18      0.0      1.0  -1.0
                 20      0.0      1.0  -1.0
                 22      0.0      1.0  -1.0
88888 2021-06-21 13      0.0      1.0  -1.0

[1563753 rows x 3 columns]

In [12]:
chong.reset_index()

         대여소번호           일   시  시간별반납대수  시간별대여대수  총 대수
0            3  2021-06-01  09      1.0      0.0   1.0
1            3  2021-06-01  12      1.0      0.0   1.0
2            3  2021-06-08  08      1.0      0.0   1.0
3            3  2021-06-10  08      1.0      0.0   1.0
4            3  2021-06-11  08      1.0      0.0   1.0
...        ...         ...  ..      ...      ...   ...
1563748   9999  2021-06-30  09      0.0      1.0  -1.0
1563749   9999  2021-06-30  18      0.0      1.0  -1.0
1563750   9999  2021-06-30  20      0.0      1.0  -1.0
1563751   9999  2021-06-30  22      0.0      1.0  -1.0
1563752  88888  2021-06-21  13      0.0      1.0  -1.0

[1563753 rows x 6 columns]

In [ ]:
-----------------------------------------------------------------------------------------------------------------

In [13]:
df_2106_chong = pd.read_csv('공공자전거 대여소 정보(21.06월 기준).csv', encoding='cp949')
df_2106_chong.head() #운영대수 합치기

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치시기,LCD운영대수,QR운영대수,운영방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [14]:
df_2106_chong[['LCD운영대수','QR운영대수']] = df_2106_chong[['LCD운영대수','QR운영대수']].fillna(0)
df_2106_chong['총운영대수'] = df_2106_chong['LCD운영대수'] + df_2106_chong['QR운영대수']
df_2106_chong = df_2106_chong.drop(['보관소(대여소)명','상세주소'], axis=1)
df_2106_chong

,대여소번호,자치구,위도,경도,설치시기,LCD운영대수,QR운영대수,운영방식,총운영대수
0,102,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
1,103,마포구,37.554951,126.910835,2015-09-06,14.0,0.0,LCD,14.0
2,104,마포구,37.550629,126.914986,2015-09-06,13.0,0.0,LCD,13.0
3,105,마포구,37.550007,126.914825,2015-09-06,5.0,0.0,LCD,5.0
4,106,마포구,37.548645,126.912826,2015-09-06,10.0,0.0,LCD,10.0
...,...,...,...,...,...,...,...,...,...
2462,4864,송파구,37.502056,127.110550,2021-04-27,0.0,6.0,QR,6.0
2463,4865,송파구,37.516342,127.115593,2021-04-28,0.0,5.0,QR,5.0
2464,4867,송파구,37.500027,127.118431,2021-04-28,0.0,10.0,QR,10.0
2465,4868,송파구,37.507172,127.101242,2021-05-18,0.0,7.0,QR,7.0
2466,4869,송파구,37.516296,127.084610,2021-06-21,0.0,9.0,QR,9.0

In [15]:
df = pd.merge(chong.reset_index(), df_2106_chong, on='대여소번호')
df

,대여소번호,일,시,시간별반납대수,시간별대여대수,총 대수,자치구,위도,경도,설치시기,LCD운영대수,QR운영대수,운영방식,총운영대수
0,102,2021-06-01,00,5.0,3.0,2.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
1,102,2021-06-01,01,1.0,1.0,0.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
2,102,2021-06-01,02,2.0,0.0,2.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
3,102,2021-06-01,04,2.0,2.0,0.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
4,102,2021-06-01,08,1.0,5.0,-4.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131093,2287,2021-06-21,18,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131094,2287,2021-06-22,15,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131095,2287,2021-06-22,18,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131096,2287,2021-06-24,10,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131097,2287,2021-06-30,17,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0

In [16]:
df.dtypes

대여소번호       object
일           object
시           object
시간별반납대수    float64
시간별대여대수    float64
총 대수       float64
자치구         object
위도         float64
경도         float64
설치시기        object
LCD운영대수    float64
QR운영대수     float64
운영방식        object
총운영대수      float64
dtype: object

In [17]:
df['대여소번호'] = pd.to_numeric(df['대여소번호'])
df['일'] = pd.to_datetime(df['일'])
df['시'] = pd.to_numeric(df['시'])
df['설치시기'] = pd.to_datetime(df['설치시기'])
df

,대여소번호,일,시,시간별반납대수,시간별대여대수,총 대수,자치구,위도,경도,설치시기,LCD운영대수,QR운영대수,운영방식,총운영대수
0,102,2021-06-01,0,5.0,3.0,2.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
1,102,2021-06-01,1,1.0,1.0,0.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
2,102,2021-06-01,2,2.0,0.0,2.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
3,102,2021-06-01,4,2.0,2.0,0.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
4,102,2021-06-01,8,1.0,5.0,-4.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131093,2287,2021-06-21,18,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131094,2287,2021-06-22,15,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131095,2287,2021-06-22,18,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131096,2287,2021-06-24,10,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131097,2287,2021-06-30,17,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0

In [18]:
from pymongo import MongoClient

HOST = 'cluster0.dmerp.mongodb.net'
USER = 'hsj8518'
PASSWORD = 'whale1234'
DATABASE_NAME = 'myFirstDatabase'
COLLECTION_NAME = 'DATA'
MONGO_URI = f"mongodb+srv://{USER}:{PASSWORD}@{HOST}/{DATABASE_NAME}?retryWrites=true&w=majority"

In [19]:
client = MongoClient(MONGO_URI)
database = client[DATABASE_NAME]
collection = database[COLLECTION_NAME]

collection.insert_many(df.to_dict('records'))

------------------------------------------------------------------------------------------

In [52]:
data = pd.DataFrame(list(collection.find()))
data

,_id,대여소번호,일,시,시간별반납대수,시간별대여대수,총 대수,자치구,위도,경도,설치시기,LCD운영대수,QR운영대수,운영방식,총운영대수
0,61b5f0f19bd8c33250771a7f,102,2021-06-01,0,5.0,3.0,2.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
1,61b5f0f19bd8c33250771a80,102,2021-06-01,1,1.0,1.0,0.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
2,61b5f0f19bd8c33250771a81,102,2021-06-01,2,2.0,0.0,2.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
3,61b5f0f19bd8c33250771a82,102,2021-06-01,4,2.0,2.0,0.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
4,61b5f0f19bd8c33250771a83,102,2021-06-01,8,1.0,5.0,-4.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131093,61b5f0f69bd8c33250885cd4,2287,2021-06-21,18,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131094,61b5f0f69bd8c33250885cd5,2287,2021-06-22,15,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131095,61b5f0f69bd8c33250885cd6,2287,2021-06-22,18,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131096,61b5f0f69bd8c33250885cd7,2287,2021-06-24,10,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131097,61b5f0f69bd8c33250885cd8,2287,2021-06-30,17,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0

In [53]:
data = data.drop(['_id'], axis = 1)
data

,대여소번호,일,시,시간별반납대수,시간별대여대수,총 대수,자치구,위도,경도,설치시기,LCD운영대수,QR운영대수,운영방식,총운영대수
0,102,2021-06-01,0,5.0,3.0,2.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
1,102,2021-06-01,1,1.0,1.0,0.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
2,102,2021-06-01,2,2.0,0.0,2.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
3,102,2021-06-01,4,2.0,2.0,0.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
4,102,2021-06-01,8,1.0,5.0,-4.0,마포구,37.555649,126.910629,2015-09-06,20.0,0.0,LCD,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131093,2287,2021-06-21,18,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131094,2287,2021-06-22,15,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131095,2287,2021-06-22,18,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131096,2287,2021-06-24,10,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0
1131097,2287,2021-06-30,17,0.0,1.0,-1.0,서초구,37.455620,127.067100,2017-11-28,10.0,0.0,LCD,10.0

In [54]:
data.dtypes

대여소번호               int64
일          datetime64[ns]
시                   int64
시간별반납대수           float64
시간별대여대수           float64
총 대수              float64
자치구                object
위도                float64
경도                float64
설치시기       datetime64[ns]
LCD운영대수           float64
QR운영대수            float64
운영방식               object
총운영대수             float64
dtype: object

In [109]:
train = data.loc[data['일'] <= '2021-06-25']
train = train.set_index(['대여소번호', '시'])
train = train.drop(['일', '시간별반납대수', '시간별대여대수', '설치시기', 'LCD운영대수', 'QR운영대수'], axis = 1)
train = train.reset_index().set_index('대여소번호')
train

        시  총 대수  자치구         위도          경도 운영방식  총운영대수
대여소번호
102     0   2.0  마포구  37.555649  126.910629  LCD   20.0
102     1   0.0  마포구  37.555649  126.910629  LCD   20.0
102     2   2.0  마포구  37.555649  126.910629  LCD   20.0
102     4   0.0  마포구  37.555649  126.910629  LCD   20.0
102     8  -4.0  마포구  37.555649  126.910629  LCD   20.0
...    ..   ...  ...        ...         ...  ...    ...
2287   14  -1.0  서초구  37.455620  127.067100  LCD   10.0
2287   18  -1.0  서초구  37.455620  127.067100  LCD   10.0
2287   15  -1.0  서초구  37.455620  127.067100  LCD   10.0
2287   18  -1.0  서초구  37.455620  127.067100  LCD   10.0
2287   10  -1.0  서초구  37.455620  127.067100  LCD   10.0

[938663 rows x 7 columns]

In [110]:
test = data.loc[data['일'] > '2021-06-25']
test = test.set_index(['대여소번호', '시'])
test = test.drop(['일', '시간별반납대수', '시간별대여대수', '설치시기', 'LCD운영대수', 'QR운영대수'], axis = 1)
test = test.reset_index().set_index('대여소번호')
test

        시  총 대수  자치구         위도          경도 운영방식  총운영대수
대여소번호
102     0   1.0  마포구  37.555649  126.910629  LCD   20.0
102     1  -1.0  마포구  37.555649  126.910629  LCD   20.0
102     3   1.0  마포구  37.555649  126.910629  LCD   20.0
102     9   4.0  마포구  37.555649  126.910629  LCD   20.0
102    10  -1.0  마포구  37.555649  126.910629  LCD   20.0
...    ..   ...  ...        ...         ...  ...    ...
4869    9  -1.0  송파구  37.516296  127.084610   QR    9.0
4869    7  -1.0  송파구  37.516296  127.084610   QR    9.0
4869   17  -2.0  송파구  37.516296  127.084610   QR    9.0
4869   18  -2.0  송파구  37.516296  127.084610   QR    9.0
2287   17  -1.0  서초구  37.455620  127.067100  LCD   10.0

[192435 rows x 7 columns]

In [111]:
target = '총 대수'
features = train.drop(columns=[target]).columns

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [113]:
from category_encoders import OneHotEncoder
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor

pipe = make_pipeline(
    OneHotEncoder(), 
    SimpleImputer(strategy='mean'), 
    RandomForestRegressor(max_depth = 10, n_jobs=-1, random_state=2)
)

k = 20

scores = cross_val_score(pipe, X_train, y_train, cv=k, 
                         scoring='neg_mean_absolute_error')

print(f'Score for {k} folds:', -scores)
-scores.max()

Score for 20 folds: [2.82071854 2.67761095 2.10885979 2.57744605 2.50035149 2.35650447
 2.12991542 3.17740871 2.17693876 1.90160352 2.30885956 2.28649869
 2.3223941  1.98115864 1.79657205 2.85494376 2.14875853 2.00736037
 1.85090579 1.74409036]

1.744090361967956

In [114]:
from category_encoders import OrdinalEncoder
pipe = make_pipeline(
    OrdinalEncoder(), 
    SimpleImputer(strategy='mean'), 
    RandomForestRegressor(max_depth = 10, n_jobs=-1, random_state=2)
)

k = 20

scores = cross_val_score(pipe, X_train, y_train, cv=k, 
                         scoring='neg_mean_absolute_error')

print(f'Score for {k} folds:', -scores)
-scores.max()

Score for 20 folds: [2.84194174 2.67894723 2.14114798 2.58475196 2.50475467 2.39228072
 2.13450809 3.18160952 2.17596305 1.91634762 2.3140237  2.33615112
 2.33588217 1.98718752 1.79120947 2.84730393 2.17154872 2.00599015
 1.846856   1.75110974]

1.7511097440187198

In [115]:
from sklearn.metrics import mean_absolute_error

pipe = make_pipeline(
    OneHotEncoder(), 
    SimpleImputer(strategy='mean'), 
    RandomForestRegressor(max_depth = 10, n_jobs=-1, random_state=2)
)
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
mae_test = mean_absolute_error(y_test, y_pred)
print(f'테스트세트 MAE: {mae_test:,.0f}')

테스트세트 MAE: 2

In [102]:
d_info = df[['대여소번호','자치구','위도','경도','운영방식','총운영대수']].sort_values(by='대여소번호').drop_duplicates()
d_info

         대여소번호  자치구         위도          경도 운영방식  총운영대수
0          102  마포구  37.555649  126.910629  LCD   20.0
1067       103  마포구  37.554951  126.910835  LCD   14.0
1650       104  마포구  37.550629  126.914986  LCD   13.0
2178       105  마포구  37.550007  126.914825  LCD    5.0
2766       106  마포구  37.548645  126.912826  LCD   10.0
...        ...  ...        ...         ...  ...    ...
1129438   4864  송파구  37.502056  127.110550   QR    6.0
1130003   4865  송파구  37.516342  127.115593   QR    5.0
1130454   4867  송파구  37.500027  127.118431   QR   10.0
1130823   4868  송파구  37.507172  127.101242   QR    7.0
1131032   4869  송파구  37.516296  127.084610   QR    9.0

[2456 rows x 6 columns]

In [103]:
COLLECTION_NAME = 'daeyeoso'
MONGO_URI = f"mongodb+srv://{USER}:{PASSWORD}@{HOST}/{DATABASE_NAME}?retryWrites=true&w=majority"
    
client = MongoClient(MONGO_URI)
database = client[DATABASE_NAME]
collection = database[COLLECTION_NAME]

collection.insert_many(d_info.to_dict('records'))

In [118]:
from joblib import dump
dump(pipe, 'model.joblib')

['model.joblib']

In [119]:
import sqlite3

con = sqlite3.connect("chinook.db")
d_info.to_sql('daeyeoso', con)
df.to_sql('data',con)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [ ]:
from flask import Flask, render_template, request
from keras import load_model

app = Flask(__name__)
model = load

@app.route('/', methods=['GET','POST'])
def index():
    return renger_template('index.html')

@app.route('/predict/', methods=['POST'])
def predict():
    add = request.form['대여소번호']
    sigan = request.form['시간대']
    
if __name__ == "__main__":
    app.run(debug=True)